body {
    margin: 0;
    font-family: verdana;
}

.nav {
  background-color: #7ebeeb;
  overflow: hidden;
  height: 40px;
  top: 0;
  position: fixed;
  width: 100%;
}

.nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 3px;
  margin: 4px;
  vertical-align: middle; /* Align the content vertically */
}

.nav img {
  max-width: auto;
  vertical-align: middle; /* Align the content vertically */
	margin-left: 16px;
}

footer {
  font-family: verdana;
  background-color: #ececec;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
	color: black;
}

footer * {
  background-color: inherit;
}

.user {
	margin-top: 20px;
}

.game1 {
  border: 0px solid #000000;
	background-color: rgba(255, 255, 255, 0.8);
  height: 300px;
  width: 380px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}