body, html {
	margin: 3px;
	font-family: verdana;
}

.main-container {
	background-color: rgba(0, 0, 0, 0.8);
	border: solid black 2px;
	width: 70%;
	color: white;
}

.main-container a {
	color: white
}

.iconMain {
	height: 100px;
}

body a {
	font-size: 18px;
}

.frame-1 {
	border: solid black 2px;
}

.btn {
	border: solid black 2px;
	font-size: 14px;
	background-color: #a9ff91;
	cursor: pointer;
}

.navbar {
	background-color: #7a7e79;
	overflow: hidden;
	color: white;
}

.navbar a {
	text-decoration: none;
	padding: 15px;
	font-size: 20px;
}

.navbar a:hover {
	background-color: #555754;
}

.signup select {
	background-color: #252424;
	border: solid black 1px;
	color: white;
	font-size: 16px;
	width: 10%;
}

.main input[type="password"] {
	background-color: #252424;
	border: solid black 1px;
	color: white;
	font-size: 16px;
	width: 35%;
}

.main input[type="text"] {
	background-color: #252424;
	border: solid black 1px;
	color: white;
	font-size: 16px;
	width: 35%;
}

.submit {
	background: linear-gradient(#66ff10, #0dde08);
	border: solid black 1px;
	color: black;
	font-size: 16px;
	width: 18%;
}

.btn {
	background-color: #6eed24;
	border: solid black 1px;
	width: 15%;
	font-size: 15px;
}

.error {
	color: red;
}

.err {
	height: 130px;
}

.logout {
	background: linear-gradient(#0e6fe8, #519eff);
	border: solid black 1px;
	color: black;
	font-size: 16px;
	width: 10%;
}

.createBtn {
	background-color: #edd8d8;
	border: solid black 1px;
	font-size: 19px;
}

.save {
	background-color: #50ec61;
	border: solid black 1px;
	font-size: 19px;
}